<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changelog for <%= projName %> v<%= projVersion %></title>
</head>
<body>
    <h1>Changelog</h1>
    <ul>
        <% for(var idx in commits) {
            commit = commits[idx];
        -%>
        <li>
            <a href="<%= repo_url %>/commit/<%= commit.hash %>">[<%= commit.hash %>]</a> <%= commit.subject %>
        </li>
        <% } %>
    </ul>
</body>
</html>
